body {
    margin: 0;
    padding: 0;
    background-color: white;
}

canvas {
    position: absolute;
    border: 3px solid #c2aeff;
    border-radius: 3%;
    background-color: #d9c5ff;
    margin-bottom: 20px;
}

a {
    display: flex;
    justify-content: center; 
}

p {
    font-family: Calibri;
    text-align: center;
}

#canvasContainer {
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 100%;
    margin-bottom: 20px; 
}